geopandas~=1.0.1
joblib~=1.4.2
lightgbm~=4.6.0
matplotlib~=3.9.1
numpy~=1.26.4
optuna~=4.2.1
pandas~=2.2.2
polars~=1.25.2
psutil~=6.0.0
pyarrow~=17.0.0
rasterio~=1.4.3
scikit-learn~=1.5.1
seaborn~=0.13.2
shapely~=2.0.7
tensorflow~=2.17.0
torch~=2.3.1
torchtoolbox~=0.1.8.2
xgboost~=2.1.4
